@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!DOCTYPE html>
<html>
    <head>
        <link rel="icon">
        <title>Images</title>
        <style>
        body {
            height: 100vh;
            background-image: url("https://s1.1zoom.me/b5050/758/Jaguar_F-Pace_E-Pace_I-Pace_Three_3_557725_1920x1080.jpg");
             color:white;
            padding: 10px;
            background-position: auto;
            background-size: cover ;
            background-position: fixed;
            background-repeat: no-repeat;
        }
    </style>
    </head>
</html>
