@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<!DOCTYPE html>
<html>
    <head>
        <link rel="icon">
        <title>Images</title>
        <style>
        body {
            height: 100vh;
            background-image: url("https://s1.1zoom.me/b5050/758/Jaguar_F-Pace_E-Pace_I-Pace_Three_3_557725_1920x1080.jpg");
             color:white;
            padding: 10px;
            background-position: auto;
            background-size: cover ;
            background-position: fixed;
            background-repeat: no-repeat;
        }
    </style>
    </head>
</html>
